#write {
    margin-left: 25px;
    margin-right: 25px;
    -webkit-font-smoothing: nil;
}

/*_________YAML FRONT AREA__________*/

#write pre.md-meta-block {
    background: transparent; 
	font-family: Circular;
	font-size: 380%;
    font-weight: 600; 
    margin-left: -5px; 
    margin-bottom: -1px; 
	color: #3F3F3F;
    border: none; 
}

/*___________SPECIAL______________*/

/*_TEXT-COLOR_*/

::selection {
    background: #E1F5FE;
    border: 1px solid #E1F5FE; 
    border-radius: 5px; 
}

::-moz-selection {
    background: #BBDEFB;
}

/*_HIGHLIGHTER_*/

mark {
    font-family: Avenir;
    color: #2979FF;
    padding-top: 3px;
    padding-bottom: 3px; 
    padding-left: 4px; 
    padding-right: 4px;
    background-color: white; 
    border: 1px solid #2979FF; 
    border-radius: 3px; 
    font-size: 100%;
}

/*_SCROLLBAR_*/
::-webkit-scrollbar {
    width: 4px;
}

/*___________DOCUMENT TEXT______________*/

body,
button,
input,
select,
textarea {
    font-family: Sailec; 
    font-size: 13px; 
    letter-spacing: 0.2px;
    padding-left: 5px;
    font-weight: 500 !important; 
    background: #fbfcfc; 
}

/*___________BODY TEXT______________*/

p {
    font-size: 14px; 
    line-height: 200%; 
    font-weight: 300 !important;  
    color: #656d78 !important; 
}

/*___________HEADER TEXT H1,H2,H3,H4_____________*/

h1 {
    font-family: Circular; 
	font-size: 34px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-bottom: 5px; 
    color: #3F3F3F !important; 
}

h2 {
    font-family: Sailec; 
	font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px; 
    margin-top: 20px; 
    letter-spacing: 0.3px; 
    color: #3F3F3F !important; 
}

h3 {
	font-size: 18px;
    font-weight: 500;
    font-family: Circular; 
    margin-bottom: 2px;
    margin-top: 25px; 
    letter-spacing: 0.3px; 
    color: #252526 !important;
}

h4 {
    font-family: Circular;
    margin-left: 25px; 
	font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 20px; 
    letter-spacing: 0.5px; 
    color: #252526 !important;  
}

h6 {
    font-family: Avenir;
    margin-left: 25px; 
	font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 20px; 
    letter-spacing: 0.3px; 
    text-align: left; 
    color: #FB0750 !important; 
}

h5 { 
    font-family: Avenir;
    margin-left: 25px; 
	font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 20px; 
    letter-spacing: 0.3px; 
    color: #5696FB !important; 
}

strong {
    font-weight: 500; 
    font-size: 100%; 
}

strong:hover {
}

i,
em,
dfn,
cite {
   color: #616161;
   font-weight: 400 !important;
   font-family: Sailec !important; 
}

/*__________BLOCKQUOTE_____________*/


blockquote {
    Margin-left: 30px; 
    border-left: solid 1px #29BB9C; 
    background: #FAFAFA;
    padding-left: 3%;
    Padding-right: 3%;
    Padding-top: 1.5%; 
    Padding-bottom: 1.5%; 
    border-radius: 0px; 
    margin-bottom: 30px;
    margin-top: 30px;
}

blockquote p {
    font-family: Avenir; 
    font-style: italic; 
    font-size: 15px; 
    font-weight: 400 !important; 
    color: #848484 !important;
}

/*__________CODEBLOCK_____________*/

pre,
code,
kbd,
tt,
var {
    color: white;
    background: #2979FF; 
    border: solid 1px #2979FF; 
    border-radius: 3px; 
    padding-left: 5px;
    Padding-right: 5px;
    Padding-top: 1px; 
    Padding-bottom: 1px;
    font-family: Avenir next; 
    font-weight: 500;
    font-size: 100%;
    letter-spacing: 0.6px; 
}

/*__________LINKS_____________*/

a {
    color: #EC407A;
    text-decoration: underline;
    font-size: 105%; 
}

a {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover {
    color: #29BB9C;
}

/*__________HEADER+LINE_____________*/

hr {
    border-top: 1px solid #EEEEEE;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

/*__________LISTS_____________*/


.task-list  {
    padding-left: 22px;
    color: #fc7e5e;
    size: 110%;
}

.task-list-item {
    padding-left: 21px; 
}

ul {
    list-style: disc; 
    padding-left: 45px;
    color: #656d78;
    font-size: 80%; 
}

ul p {
    color: #5b5a73;
    font-weight: 500;
    letter-spacing: 0.5px; 
    font-size: 14px;
    line-height: 190%; 
}

ul ul {
    list-style: disc;  
    padding-left: 20px;
    font-size: inherit; 
    font-weight: 400; 
    color: #CBCBCB; 
}


ol {
    list-style: decimal;  
    padding-left: 45px;
    color: #656d78;
    font-size: 110%;
    font-weight: 400; 
}

ol p {
    font-family: Sailec !important 
    color: dimgrey !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px; 
    font-size: 14px;
    line-height: 190%;
}

ol ol {
    list-style: disc;
    font-size: 80% !important; 
    padding-left: 20px;
    font-size: inherit; 
    font-weight: 400; 
    color: #BDBDBD; 
}


ol ol p {
    color: !important;
}

ol ol ol {
    list-style: disc;  
    padding-left: 20px;
    font-size: inherit; 
    font-weight: 400; 
    color: #BDBDBD;
    line-height: 150% !important;
    font-size: 90%; 
}

ol ol ol p {
    line-height: 150% !important;
    font-size: 13px; 
}

/*___________TABLE______________*/

/*TABLE*/
table {
    margin-left: 20px; 
    margin-right: 20px;
    margin-top: 30px; 
    Margin-bottom: 50px; 
    max-width: 100%;
}

/*TABLEHEADER*/
th {
    border-bottom: solid 0px #CCCCCC;
    border-radius: 0px; 
    padding: 2%;
    font-family: Avenir; 
    color: #5696FB; 
    font-size: 15px; 
    text-align: left;
    font-weight: 400; 
}

*th:nth-child(2){
    color: #f4a673;
    padding: 2%; 
    padding-bottom: 2%;
    font-family: Avenir; 
    font-size: 111%; 
}

*th:nth-child(3){
    color: #a7a3e9;
    padding: 2%; 
    padding-bottom: 2%;
    font-family: Circular; 
    font-size: 110%; 
}

/*TABLEBODY*/
td {
    border-radius: 7px; 
    padding: 2%;
    Padding-bottom: 0%; 
    font-family: Avenir;
    font-size: 1px;
    font-weight: 400; 
    color: #434a54;
    line-height: 170%; 
    vertical-arrange: top;
}

*td:nth-child(1) {
    padding: 2%;
    font-family: Avenir;
    font-size: 120%;
    font-weight: 800; 
    color: #2b2b36;
}

*td:nth-child(2) {
    padding: 2%;
    font-family: Circular;
    font-size: 110%;
    color: #f4a673;
}

*td:nth-child(3) {
    padding: 2%;
    font-family: Circular;
    font-size: 110%;
    color: #a7a3e9;
}



/*___________IMAGE______________*/


img {
    display: block;
    max-width: 100%;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: hue-rotate(10deg) contrast(110%) invert(0%);
}

/*___________APP-UI______________*/
/*====SEARCH-BAR====*/

#md-searchpanel {
    border-bottom: 1px solid #1baba5;
}

.outline-title-wrapper .btn {
    color: #39ca74;
    background: transparent;
}

.outline-item:hover {
    background: white; 
    border-color: transparent; 
    color: #fc7e5e;
}

.outline-item {
    font-weight: 300 !important; 
    line-height: 180%;
    color: #757575; 
    border-color: #E0E0E0;  
}

.outline-h4,
.outline-h5,
.outline-h6 {
    display: none; 
}

.md-toc-h1 {
    color: #9B9B9B;
    padding-left: 5px; 
    margin-left: 10px; 
    font-size: 110%;
    line-height: 200%;
    letter-spacing: 0.8px;
    border-bottom: solid 0px #818aa0; 
}

.md-toc-h2 {
    color: #9B9B9B;
    margin-top: 0%; 
    font-size: 100%;
    line-height: 180%;
}

#write div.md-toc-tooltip {
    background-color: black;
    color: #1bb0a7; 
    font-size: 100%; 
}

#outline-dropmenu .btn:hover,
#outline-dropmenu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
    color: #1bb0a7;
}

.md-toc-h3, 
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
    display: none; 
}

.pin-outline #outline-dropmenu {
    border-right: 1px solid #F5F5F5;
    margin-top: 20px; 
    max-width: 210px;
    background: white; 
    box-shadow: 10px 10px white;

}

/*TASK*/

.task-list-item input{
	top: 2px;
	right: 5px; 
}
